/*************************************
GENERAL
**************************************/

body {
font-family: 'Open Sans', 'Times New Roman', 'Aril Fatface';
color:#999;
}

.body {
background-image:url("../img/clouds.jpg");          
box-shadow: inset 0 0 0 1000px rgba(256, 256, 256, 0.1);
}

.special {
background-image: none;          
box-shadow: none;   
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}



a {
text-decoration: none;
}

img {
max-width: 100%;
}

h3 {
margin: 0 0 1em 0;
}




/*************************************
HEADING
**************************************/

header {
float: left;
position: relative;
margin: 0 0 30px 0;
padding: 5px 0 5px 0;
width: 100%;
}

.language {
  position: absolute;
  top:30%;
}

.language-ru {
  background: url('../img/flags.png');
    height: 22px;
    width: 52px;
    float: left;
    background-position: 52px 0px;
    margin:3px;
}

.language-en {
  background: url('../img/flags.png');
    height: 22px;
    width: 52px;
    float: right;
    background-position: 0px 0px;
    margin:3px;
}

.header-container {
  position: relative;
  width: 100%;
  margin: auto;
   text-align: center;
}

.logo-wrapper {
  display: inline-block;
  font-size: 14px;
}

#logo {
text-align: center;
margin: 0;
position:relative;
}


#logo h1 {
font-family: 'Fredericka the Great', cursive;
margin: 15px 0;
font-size: 2.9em;
font-weight: normal;
line-height: 0.8em;
text-shadow: 0px 0px 5px #46C6E2 ;
color:#fff;
}

h2 {
font-size: 0.8em;
margin: -5px 0 0;
font-weight: bold;
text-shadow: 0px 0px 0px #32673F;
color:#fff;
}

#animated_gif {
 display:block;
width:100%;
height:100%;
position:absolute;
top:13px;
left:10%;
width:90px;
}

@media screen and (max-width: 387px) {
#animated_gif {top:50px; left:1px;}

}

@media screen and (min-width: 650px) {

#animated_gif {left:100px;  top:13px;}

}

@media screen and (min-width: 850px) {

#animated_gif {left:170px;  top:13px;}

}

@media screen and (min-width: 1050px) {

#animated_gif {left:280px;  top:13px;}

}

@media screen and (min-width: 1200px) {

#animated_gif {left:350px;  top:13px;}

}


/*************************************
Audio
**************************************

#audio {
  position:absolute;  
  top:35px;
  left:50px;
}

**/

/*************************************
Monkeys
**************************************

#monkeys {
position:absolute;
top:6px;
right:900px;
}

#monkeys_tails {
  position:absolute;
  top:145px;
  right:906px;
}

@media screen and (max-width: 1170px) {
#monkeys {display:none;}
#monkeys_tails {display:none;}

}

***/

/*************************************
NAVIGATION
**************************************/

nav {
  position: absolute;
  top: 15%;
  left: 73%;
  font-family: 'Garamond';
  text-align: center;
 /* padding: 10px 0;
  margin: 20px 0 0;*/
/*box-shadow: 0px 5px 20px #BDC3C7;*/
}

a {
color: #6ab47b;
}

/*nav links*/
nav a, nav a:visited {
color: #fff;

}

/*selected nav links*/
nav a:hover {
    color: #32673f;
   /*background-color: #46C6E2;
    box-shadow: 1px 1px 5px grey;
    padding:4px 7px;
    margin-left:6px;*/
}

nav a.selected {

color: #32673f;
 /*background-color: #46C6E2;
    box-shadow: inset 1px 1px 5px grey;
    padding:4px 7px;
    margin-left:6px;*/
}


nav ul {
list-style: none;
/*margin: 0 10px;*/
padding: 0;
}

nav li {
display: inline-block;
}

nav a {
font-weight: 800;
padding: 15px 10px;
}

/*************************************
SideBar Pluso
**************************************/
#social-networks {
width:100%;
height:50px;
text-align:center;
margin-bottom:30px;
clear:both;
}

.pluso {
width:350px;
margin:auto;
margin-top:20px;
}


/*************************************
FOOTER
**************************************/

footer {
font-size: 0.75em;
text-align: center;
clear: both;
padding-top: 50px;
color: #000
}

.social-icon {
width: 20px;
height: 20px;
margin: 0 5px;
}

/*************************************
PAGE: PORTFOLIO
**************************************/

#gallery {
margin: 0;
padding: 0;
list-style: none;
}

#gallery li {
float: left;
width: 45%;
margin: 2.5%;
background-color: #f5f5f5;
color: #bdc3c7;
text-align: center;
box-shadow: 1px 1px 4px #999999;
 transition: transform .2s ease-out;
    transform:scale(1);
-webkit-transition: .2s ease-out;
     -moz-transition: .2s ease-out;
     -o-transition: .2s ease-out;
     transition: .2s ease-out;
}


#gallery li:hover {
box-shadow:0px 0px 15px #999999;
-webkit-transform:scale(1.01);
  -moz-transform:scale(1.01);
  -o-transform:scale(1.01);
  transform:scale(1.01);
}


#gallery li a p {
margin: 0;
padding: 5%;
font-size: 0.75em;
color: #bdc3c7;
text-align:center;
text-indent:0px;
}


.portfolio_pic {
max-width: 96%;
padding-top:5px;
}



/*************************************
PAGE: ABOUT
**************************************/

.profile-photo {
max-width: 250px;
margin: 0 auto 30px;
border-radius: 50%;
box-shadow: 0px 0px 40px #3498db;
display:block;
}

/***@keyframes profile-pic-scale {
    0% {transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -o-transform:scale(1);}

    20% {transform:scale(1.2);
         -webkit-transform:scale(1.2);
         -moz-transform:scale(1.2);
         -o-transform:scale(1.2);}

    100% {transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -o-transform:scale(1);}
}***/

/***@keyframes profile-pic-shadow {
    0% {box-shadow: 0px 0px 80px 1px #D2232A;}
    30% {box-shadow: 0px 0px 80px 1px #FFDE00;}
    60% {box-shadow: 0px 0px 80px 1px #00B2EB;}
    90% {box-shadow: 0px 0px 80px 1px #E74C3C;}
    100%{box-shadow: 0px 0px 80px 1px #3498db;}
}
.profile-photo {
   
}

.profile-photo:hover {
   animation-name: profile-pic-scale, profile-pic-shadow;
    animation-duration: 2s;
box-shadow: 0px 0px 80px 1px #3498db;
}***/

h3 {
text-align: center;
}

p {
text-indent: 20px;
}

.column_about_me {
  box-sizing: border-box;
  margin:0 auto;
  /*float: left;*/
  width: 60%;
  margin-top:50px;
  color:#333;
  font-weight: bold;
}

/*.column_about_me_first {
  border-right: 1px solid;
  padding-right: 20px;
}

.column_about_me_second {
  border-left: 1px solid;
  margin-left: -1px;
  padding-left: 20px;
}*/

/*************************************
PAGE: CONTACT
**************************************/

.contact-info {
list-style: none;
padding: 0;
margin: 0;
font-size: 0.9em;
}

.contact-info a {
display: block;
min-height: 20px;
background-repeat: no-repeat;
background-size: 20px 20px;
padding: 0 0 0 30px;
margin: 0 0 0 10px;
}

.contact-info li.phone a {
background-image: url('../img/phone.png');
}

.contact-info li.mail a {
background-image: url('../img/mail.png');
}

.contact-info li.instagram a {
background-image: url('../img/instagram.png');
}

#mail-btn {
  cursor: pointer;
  padding-top: 3%;
  padding-right: 6%;
  text-align: center;
}

#mail-btn span{
  border: 2px solid #999;
  padding: 1% 2%;
  font-weight: bold;
}

#overlay {
  display: none;
  width:100%;
  height: 100%;
  background:#000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  z-index: 1000;
}


#popup-section {
  display: none;
  max-width: 21%;
  max-height: 70%;
  padding: 5%;
  margin: 0 auto;
  position: fixed;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  text-align: center;
  background-color: white;
  z-index: 1500;
  background-color: #C5EFF7;
}

#popup-section input, #popup-section textarea {
  width: 75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1% 1%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#popup-section textarea {
  width: 100%;
}


/*#message_form {
  width:100%;
  margin:auto;
  float:left;
  clear:left;
  
}

#form_for_message {
position:absolute;
top:370px;
left:36%;
margin-top:40px; 
margin-left:20px; 
box-shadow:0px 0px 15px #BDC3C7; 
border-radius:20px; 
background-color:#B0E0E6; 
padding: 30px;
}*/



.textarea {
margin-top:5px;

}

/*************************************
BACKGROUND VIDEO in CONTACT
**************************************/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}

/*************************************
COLORS
**************************************/

/*site body*/
body {
background-color: #fff;
color: #999;
}

/*green header*/
header {
background: #b0e0e6;
border-color: #599a68;
}

/*nav background on mobile*/
/*nav {
background: #46c6e2;
}*/

/* logo text*/
/*h1, h2 {
color: #fff;
}*/





















