@media (min-width: 480px) {
  
/*************************************
TWO COLUMN LAYOUT
**************************************/
  
  #primary {
  width: 50%;
  float: left;
  }
  
  #secondary {
  width: 40%;
  float: right;
  }

  #third_section {
  max-width:333px;
  margin-right:auto;
  clear: right;
  }



}


@media (min-width: 750px) {
  
/*************************************
PAGE: PORTFOLIO
**************************************/

#gallery li {
width: 28.3333%;
}

 #animated_gif {
  display: none;
 }

#gallery li:nth-child(7n) {
clear: left;
}



#gallery li:nth-child(14) {
clear: none;
}

#gallery li:nth-child(16) {
clear: left;
}

#gallery li:nth-child(19) {
clear: left;
}

#gallery li:nth-child(21) {
clear: none;
}


}

/*****************************
      Mail form
*****************************/

@media (max-width: 1050px) {

   #popup-section {
  max-width: 25%;
}
/*******************
   Nav
*******************/
nav {
  left: 69%;
}

.logo-wrapper {
  font-size: 12px;
}

}


@media (max-width: 930px) {

   #popup-section {
  max-width: 25%;
}
/*******************
   Nav
*******************/
nav {
  display: block;
  margin: 0 auto;
}

.logo-wrapper {
  font-size: 12px;
}

}


@media (max-width: 900px) {

   #popup-section {
  max-width: 35%;
}

 nav {
   position: static;
 }

  .logo-wrapper {
    width:41%;
  }
}

@media (max-width: 750px) {

   #popup-section {
  max-width: 50%;
}

.column_about_me {
  box-sizing: border-box;
  margin:0 auto;
  /*float: left;*/
  width: 80%;
  margin-top:50px;
}

}

@media (max-width: 480px) {

   #popup-section {
  max-width: 50%;
}

.column_about_me {
  box-sizing: border-box;
  margin:0 auto;
  /*float: left;*/
  width: 90%;
  margin-top:50px;
}

 nav li {
  display: block;
    border-bottom: 1px solid #fff;
    padding-top: 1%;
    padding-bottom: 1%;
 }

nav li:nth-child(1) {
  border-top: 1px solid #fff;
}

}